<div class="row">
  <div class="col s3">

    <div class="row" style="margin-top: 200px">
      <div class="collection">
        <a href="javascript:void(0)" class="collection-item" (click)="profileMenu='BASICDETAILS'">Basic Details</a>
        <a href="javascript:void(0)" class="collection-item" (click)="profileMenu='EXPERIENCE'">Experience</a>
        <a href="javascript:void(0)" class="collection-item" (click)="profileMenu='PROJECTS'">Projects</a>
        <a href="javascript:void(0)" class="collection-item" (click)="profileMenu='EDUCATION'">Education</a>
        <a href="javascript:void(0)" class="collection-item" (click)="profileMenu='SKILLS'">Skills</a>
        <a href="javascript:void(0)" class="collection-item" (click)="profileMenu='PROFILEIMAGE'">

          <!--<span class="badge">14</span>-->
          Files</a>
        <a href="javascript:void(0)" class="collection-item" (click)="profileMenu='SOCIAL'">Social Profiles</a>
      </div>
    </div>
  </div>
  <div class="col s9" *ngIf="isDataPopulated">

    <section id="contact-form">
      <div class="container">
        <div class="row" *ngIf="profileMenu=='BASICDETAILS'">
          <div class="section-title">
            <h2><i class="fa fa-send"></i>Basic Details</h2>
          </div>
          <div class="contact-form z-depth-1" id="contact">
            <div class="row">
              <form [formGroup]="profileForm" id="contactForm" (submit)="saveUserDetails()">
                <div id="msgSubmit" class="h3 text-center hidden"></div>
                <div class="input-field col m6 s12">
                  <label for="firstName" class="h4 active">First Name *</label>
                  <input id="firstName" type="text" placeholder="" formControlName="firstName"
                         class="form-control">
                  <span class="center brown-text" *ngIf="profileForm.get('firstName').touched && profileForm.get('firstName').errors && profileForm.get('firstName').errors.required">
                          First Name is required
                   </span>
                </div>
                <div class="input-field col m6 s12">
                  <label for="lastName" class="h4 active">Last Name *</label>
                  <input type="text" class="form-control" formControlName="lastName"
                         id="lastName">
                  <span class="center brown-text" *ngIf="profileForm.get('lastName').touched && profileForm.get('lastName').errors && profileForm.get('lastName').errors.required">
                          Last Name is required
                   </span>
                </div>
                <div class="input-field col m6 s12">
                  <label for="experience" class="h4 active">Months of Experience </label>
                  <input type="text" class="form-control validate" placeholder=" " formControlName="totalExperience"
                         id="experience">
                </div>

                <div class="input-field col m12 s12">
                  <label for="aboutMe" class="h4 active">About Me</label>
                  <textarea id="aboutMe" class="materialize-textarea validate" formControlName="aboutMe"></textarea>
                </div>

                <div class="input-field col m12 s12 a3">
                  <label for="profileSummary" class="h4 active">Profile Summary</label>
                  <textarea id="profileSummary" class="materialize-textarea validate"
                            laceholder="Semicolon separated(summary1;summary2)"
                            formControlName="profileSummary"></textarea>
                </div>
                <div class="col s12">
                  <div class="input-field col m4 s12">
                    <label for="city" class="h4 active">City *</label>
                    <input id="city" type="text" class="form-control"
                           formControlName="city" placeholder=""/>
                    <span class="center brown-text" *ngIf="profileForm.get('city').touched && profileForm.get('city').errors && profileForm.get('city').errors.required">
                          City is required
                   </span>
                  </div>
                  <div class="input-field col m4 s12">
                    <label for="state" class="h4 active">State *</label>
                    <input id="state" type="text" class="form-control"
                           formControlName="state" placeholder=""/>
                    <span class="center brown-text" *ngIf="profileForm.get('state').touched && profileForm.get('state').errors && profileForm.get('state').errors.required">
                          State is required
                   </span>
                  </div>

                  <div class="input-field col m4 s12">
                    <label for="country" class="h4 active">Country *</label>
                    <input id="country" type="text" class="form-control"
                           formControlName="country" placeholder=""/>
                    <span class="center brown-text" *ngIf="profileForm.get('country').touched && profileForm.get('country').errors && profileForm.get('country').errors.required">
                          Country is required
                   </span>

                  </div>
                </div>
                <button type="submit" id="form-submit" [disabled]="!profileForm.valid" class="btn btn-success">Submit</button>

              </form>
            </div>
          </div>
        </div>

        <div class="row" *ngIf="profileMenu=='EXPERIENCE'">
          <manage-experience [experiences]="profileData?profileData.experienceList:''" (experienceChanged)="profileData ? profileData.experienceList=$event : ''"></manage-experience>
        </div>

        <div class="row" *ngIf="profileMenu=='EDUCATION'">
          <manage-education [qualifications]="profileData?profileData.educationList:''" (educationChanged)="profileData ? profileData.educationList=$event : ''"></manage-education>
        </div>

        <div class="row" *ngIf="profileMenu=='PROJECTS'">
          <manage-project [projects]="profileData?profileData.userProjects:''" (projectsAdded)="profileData ? profileData.userProjects=$event : ''"></manage-project>
        </div>

        <div class="row" *ngIf="profileMenu=='SKILLS'">
          <manage-skill [skills]="userSkills" (skillsChanged)="userSkills=$event"></manage-skill>
        </div>

        <div class="row" *ngIf="profileMenu=='PROFILEIMAGE'">
          <div class="row">
            <div class="section-title">
              <h2><i class="fa fa-send"></i>Files</h2>
            </div>
            <!--<span class="col s12 m12">-->
            <file [url]="'manageProfile/profileImage'" [name]="'Profile Image'"  [maxSize]="400"
              [allowedExtensions]="'jpeg,jpg,png'"></file>
            <!--</span>-->
            <!--<span [ngClass]="{'col':true,'s8 m8':profileData.hasResume,'s12 m12':!profileData.hasResume}" >-->
             <file  [url]="'manageProfile/resume'" [allowedExtensions]="'pdf,docx,doc'" [name]="'Resume'"></file>
            <!--</span>-->
            <!--<span *ngIf="profileData.hasResume" class="col s4 m4">-->
               <!--<div class="contact-form z-depth-1" id="contact">-->
                 <!--<div class="row" style="padding: 50px">-->
                   <!--<form action="#">-->
                     <!--<div class="file-field input-field center">-->
                       <!--<div class="btn">-->
                         <!--<a href="javascript:void(0)" class="btn waves-effect"-->
                            <!--(click)="downloadResume()">Download</a>-->
                       <!--</div>-->
                       <!--<div class="file-path-wrapper">-->
                         <!--<input class="file-path validate" type="text">-->
                       <!--</div>-->
                     <!--</div>-->
                   <!--</form>-->

                   <!--</div>-->
                 <!--</div>-->
            <!--</span>-->
          </div>
        </div>

        <div class="row" *ngIf="profileMenu=='SOCIAL'">
          <div class="row">
            <div class="section-title">
              <h2><i class="fa fa-send"></i>Social Links</h2>
            </div>
            <social [associatedSocialAccounts]="profileData ? profileData.userSocialNetworkVOS : ''" (socialAccountsChanged)="profileData ? profileData.userSocialNetworkVOS = $event : ''"></social>
            </div>
        </div>

      </div>

    </section>


  </div>
</div>

