<header id="header-top"> <!--Start: "Header Area"-->


  <div id="header-bottom" class="z-depth-1"> <!--Start: "Header Area"-->
    <div id="sticky-nav-sticky-wrapper" class="sticky-wrapper" style="height: 64px;">
      <div id="sticky-nav" style="width: 1240px;">
        <div class="container">
          <div class="row">

            <nav class="nav-wrap" style="background-color: transparent;">
              <ul class="hide-on-med-and-down group" id="example-one">
                <li [ngClass]="{'current': isSelected === 'about'}"><a href="javascript:void(0)"
                                                                       (click)="scrollTo('about')">About</a></li>
                <li [ngClass]="{'current': isSelected === 'skills'}"><a href="javascript:void(0)"
                                                                        (click)="scrollTo('skills')">Skills</a></li>
                <li [ngClass]="{'current': isSelected === 'works'}"><a href="javascript:void(0)"
                                                                       (click)="scrollTo('works')">Works</a></li>
                <li [ngClass]="{'current': isSelected === 'education'}"><a href="javascript:void(0)"
                                                                           (click)="scrollTo('education')">Education</a>
                </li>
                <li [ngClass]="{'current': isSelected === 'blog'}"><a href="javascript:void(0)"
                                                                      (click)="scrollTo('blog')">Portolio</a></li>
                <li [ngClass]="{'current': isSelected === 'contact-form'}"><a href="javascript:void(0)"
                                                                              (click)="scrollTo('contact-form')">Contact</a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div> <!--End: Header Area-->
</header>


<section id="about" *ngIf="profileData">
  <div class="container">
    <div class="row">
      <div class="intro z-depth-1 col m12">
        <div class="col m12 s12">
          <div class="profile-pic wow fadeIn a1 animated" data-wow-delay="0.1s"
               style="visibility: visible; animation-delay: 0.1s; -webkit-animation-delay: 0.1s; animation-name: fadeIn; -webkit-animation-name: fadeIn;">

            <img [src]="this.profileImage" (error)="setDefaultImage()" alt="">
          </div>
        </div>
        <div class="col m12 s12 co-centered wow fadeIn a2 animated" data-wow-delay="0.2s"
             style="visibility: visible; animation-delay: 0.2s; -webkit-animation-delay: 0.2s; animation-name: fadeIn; -webkit-animation-name: fadeIn;">
          <div class="intro-content">
            <h2>{{profileData.firstName|capitalize}} {{profileData.lastName|capitalize}}</h2>
            <h6 *ngIf="profileData.currentExperience">{{profileData.currentExperience.position}} at
              {{profileData.currentExperience.companyName}}</h6>
            <p *ngIf="profileData.aboutMe">{{profileData.aboutMe}}</p>
            <span *ngIf="profileData.hasResume">
            <a [href]="resumeUrl" target="_self" class="btn waves-effect">View CV</a>
              </span>
            <a href="javascript:void(0)" (click)="scrollTo('contact-form')" class="btn btn-success waves-effect">Contact
              Me</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="contact-form-data" *ngIf="profileData && profileData.profileSummary?.length">
  <div class="container">
    <div class="row">
      <div class="section-title wow fadeIn a1 animated"
           style="visibility: visible;">
        <h2><i class="fa fa-list"></i>Profile Summary</h2>
      </div>
      <div class="contact-form z-depth-1" id="contact">
        <div class="row">
          <ul class="collection col s12 m12">
            <li class="collection-item" *ngFor="let summary of profileData.profileSummary">{{summary}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="skills" *ngIf="profileData && profileData.skills?.length">
  <div class="container">
    <div class="row">
      <div class="section-title wow fadeIn a1 animated" data-wow-delay="0.1s"
           style="visibility: visible; animation-delay: 0.1s; -webkit-animation-delay: 0.1s; animation-name: fadeIn; -webkit-animation-name: fadeIn;">
        <h2><i class="fa fa-gears"></i>Skills</h2>
      </div>
      <div class="skill-line z-depth-1">
        <div class="row">
          <div class="col m12 s12">
            <div class="col m2 skill-icon">
              <i class="fa fa-calendar-o"></i>
            </div>
            <div class="skill-bar col m10 wow fadeIn a1 animated" data-wow-delay="0.1s"
                 style="visibility: visible; animation-delay: 0.1s; -webkit-animation-delay: 0.1s; animation-name: fadeIn; -webkit-animation-name: fadeIn;">
              <h3>Professional Skills </h3>
              <div *ngFor="let skill of profileData.skills" class="col s6 m6">
                <span>{{skill.name}}</span>
                <div class="progress">
                  <div class="determinate" [style.width.%]="skill.level"><i class="fa fa-circle"></i></div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>

<section id="works" *ngIf="profileData && profileData.experienceList?.length">
  <div class="container">
    <div class="row">
      <div class="section-title">
        <h2><i class="fa fa-suitcase"> </i>Work Experience</h2>
      </div>

      <div id="cd-timeline" class="cd-container">
        <div *ngFor="let experience of profileData.experienceList; let i = index;"
             class="cd-timeline-block wow fadeIn a{{i+2}} animated" data-wow-delay="0.2s"
             style="visibility: visible; animation-delay: 0.2s; -webkit-animation-delay: 0.2s; animation-name: fadeIn; -webkit-animation-name: fadeIn;">
          <div class="cd-timeline-img">
          </div> <!-- cd-timeline-img -->
          <div class="cd-timeline-content col m5 s12 z-depth-1">
            <a href=""><h2>{{experience.position|capitalize}} @{{experience.companyName}}</h2></a>
            <span>{{experience.fromDate}} - <span *ngIf="experience.toDate">{{experience.toDate}}</span>
             <span *ngIf="!experience.toDate">Present</span></span>
            <p>{{experience.responsibilities}}</p>
          </div> <!-- cd-timeline-content -->
        </div>
      </div> <!-- cd-timeline -->
    </div>
  </div>
</section>

<section id="education" *ngIf="profileData && profileData.educationList?.length">
  <div class="container">
    <div class="row">
      <div class="section-title wow fadeIn a1 animated" data-wow-delay="0.1s"
           style="visibility: visible; animation-delay: 0.1s; -webkit-animation-delay: 0.1s; animation-name: fadeIn; -webkit-animation-name: fadeIn;">
        <h2><i class="fa fa-graduation-cap"></i>Education</h2>
      </div>

      <div class="cd-container" id="ed-timeline">
        <div *ngFor="let qualification of profileData.educationList; let i = index;"
             class="cd-timeline-block wow fadeIn a2 animated" data-wow-delay="0.2s"
             style="visibility: visible; animation-delay: 0.2s; -webkit-animation-delay: 0.2s; animation-name: fadeIn; -webkit-animation-name: fadeIn;">
          <div class="cd-timeline-img">
          </div> <!-- cd-timeline-img -->
          <div class="cd-timeline-content col m5 s12 z-depth-1">
            <a href=""><h2>{{qualification.courseName|capitalize}} @{{qualification.university}}</h2></a>
            <span>{{qualification.fromDate}} - <span *ngIf="qualification.toDate">{{qualification.toDate}}</span>
            <span *ngIf="!qualification.toDate">Present</span> </span>
            <p></p>
          </div> <!-- cd-timeline-content -->
        </div> <!-- cd-timeline-block -->
      </div> <!-- cd-timeline -->

    </div>
  </div>
</section>


<section id="blog" *ngIf="profileData && profileData.userProjects">
  <div class="container">
    <div class="row">
      <div class="section-title wow fadeIn a1 animated" data-wow-delay="0.1s"
           style="visibility: visible; animation-delay: 0.1s; -webkit-animation-delay: 0.1s; animation-name: fadeIn; -webkit-animation-name: fadeIn;">
        <h2><i class="fa fa-edit"> </i>Portfolio</h2>
      </div>
      <div class="row">
        <div class="blog">

          <div *ngFor="let projectInstance of profileData.userProjects;let i=index;"
               class="col m6 s12 blog-post wow fadeIn a{{i+2}} animated" data-wow-delay="0.2s"
               style=" visibility: visible; animation-delay: 0.2s; -webkit-animation-delay: 0.2s; animation-name: fadeIn; -webkit-animation-name: fadeIn;">
            <div class="thumbnail z-depth-1 animated">
              <!--<a href="blog-full-post.html"><img src="assets/images/b-1.jpg" alt="" class="responsive-img"></a>-->
              <div class="blog-details">
                <div class="post-title" id="blog-post-{{i+1}}">
                  <!--<a href="blog-full-post.html">-->
                  <h4>{{projectInstance.title}}</h4>
                  <span *ngIf="projectInstance.organizationProject==true && projectInstance.company">{{projectInstance.company}}</span>
                  <span *ngIf="projectInstance.organizationProject==false">Own</span>
                  <!--</a>-->
                </div>
                <div class="post-details" *ngIf="projectInstance.description">
                  <p>{{projectInstance.description}}</p>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>


<section id="contact-form">
  <div class="container">
    <div class="row">
      <div class="section-title "
           style="visibility: visible;">
        <h2><i class="fa fa-send"></i>Contact</h2>
      </div>
      <div class="contact-form z-depth-1" id="contact">
        <div class="row">
          <form id="contactForm" [formGroup]="contactForm" id="contactForm" novalidate (submit)="contactUser()">
            <div id="msgSubmit" class="h3 text-center hidden"></div>
            <div class="input-field col m6 s12">
              <label for="name" class="h4">Full Name *</label>
              <input type="text" class="form-control" formControlName="name" id="name">
              <span class="center red-text" *ngIf="contactForm.get('name').touched && contactForm.get('name').errors">
              Full Name is required
             </span>
            </div>
            <div class="input-field col m6 s12">
              <label for="email" class="h4">Email *</label>
              <input type="email" class="form-control" id="email" formControlName="email" email>
              <span class="center red-text" *ngIf="contactForm.get('email').touched && contactForm.get('email').errors && contactForm.get('email').errors.required">
                  Email is required
              </span>
              <span class="center red-text" *ngIf="contactForm.get('email').touched && contactForm.get('email').errors && !contactForm.get('email').errors.required && contactForm.get('email').errors.email">
                  Email is not valid
              </span>
            </div>
            <div class="input-field col m12 s12 ">
              <label for="contact" class="h4">Contact Number</label>
              <input type="text" class="form-control" formControlName="contactNumber" id="contact" >
            </div>
            <!--<div class="input-field col m6 s12 wow fadeIn a5 animated" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; -webkit-animation-delay: 0.5s; animation-name: fadeIn; -webkit-animation-name: fadeIn;">-->
            <!--<div class="select-wrapper"><input type="text" class="select-dropdown" readonly="true" data-activates="select-options-45aa4861-20da-260a-4290-097a855aa684" value="Choose your Budget"><i class="mdi-navigation-arrow-drop-down active"></i><select class="initialized">-->
            <!--<option value="">Choose your Budget</option>-->
            <!--<option value="1">$10000-$20000</option>-->
            <!--<option value="2">$50000-$100000</option>-->
            <!--<option value="3">$50000-$1000000</option>-->
            <!--</select></div>-->
            <!--</div>-->
            <div class="input-field col m12 s12 ">
              <label for="message" class="h4">Message *</label>
              <textarea id="message" class="form-control materialize-textarea" formControlName="message"></textarea>
              <span class="center red-text" *ngIf="contactForm.get('message').touched && contactForm.get('message').errors">
                  Message is required
              </span>
            </div>

            <button type="submit" class="btn btn-success waves-effect"
                    [disabled]="!contactForm.valid">Submit</button>
          </form>
        </div>
      </div>

      <div class="interests col s12 m12 l12"
           style="visibility: visible" *ngIf="profileData && profileData.userSocialNetworkVOS?.length">
        <div class="row">
          <ul class="z-depth-1"> <!-- interetsr icon start -->
            <li *ngFor="let account of profileData.userSocialNetworkVOS; let i = index">
              <a href="{{account.socialNetworkUrl}}" target="_blank">
                <i class="{{getSocialIcon(account.socialNetwork)}} tooltipped col m2 s6" data-position="top"
                   data-delay="50"></i>
              </a>
            </li>
          </ul> <!-- interetsr icon end -->
        </div>
      </div>
    </div>
  </div>
</section>
