<div class="row">
  <div class="section-title">
    <h2><i class="fa fa-send"></i>Add</h2>
  </div>
  <div class="contact-form z-depth-1" id="contact">
    <div class="row">
      <form [formGroup]="projectForm" id="contactForm" (submit)="saveProject()">
        <div class="input-field col m12 s12">
          <label for="title" class="h4">Title *</label>
          <input id="title" type="text" class="form-control" formControlName="title"/>
          <span class="center brown-text" *ngIf="projectForm.get('title').touched && projectForm.get('title').errors">
            Title is required
          </span>
        </div>
        <div class="input-field col m12 s12">
          <label for="description" class="h4">Description *</label>
          <textarea id="description" class="materialize-textarea" formControlName="description"></textarea>
          <span class="center brown-text" *ngIf="projectForm.get('description').touched && projectForm.get('description').errors">
            Description is required
          </span>
        </div>

        <div class="input-field col m12 s12">
          <label for="url" class="h4">URL</label>
          <input type="text" id="url" class="materialize-textarea" formControlName="url"/>
        </div>

        <div class="row">
          <div class="input-field col m6 s6">
            <p>
              <input id="ongoing" type="checkbox" formControlName="ongoing"/>
              <label for="ongoing">Ongoing Project</label>
            </p>
          </div>
          <div class="input-field col m6 s6">
            <label for="months" class="h4">Months *</label>
            <input id="months" type="text" class="form-control" formControlName="months"/>
            <span class="center brown-text" *ngIf="projectForm.get('months').touched && projectForm.get('months').errors?.required">
              Please fill months
            </span>
            <span class="center brown-text" *ngIf="projectForm.get('months').touched && projectForm.get('months').errors && !projectForm.get('months').errors?.required">
              Only digits are accepted
            </span>
          </div>
        </div>
        <div class="row">
          <div class="input-field col m6 s6">
            <p>
            <input id="organizationProject" type="checkbox" formControlName="organizationProject"/>
              <label for="organizationProject">Organization Project</label>
            </p>
          </div>

          <div class="input-field col m6 s6" *ngIf="projectForm.value.organizationProject">
            <label for="months" class="h4">Organization Name *</label>
            <input id="organization" type="text" class="form-control" formControlName="organization"/>
          </div>
        </div>

        <div class="input-field col m12 s12">
          <label for="technologiesUsed" class="h4">Technologies Used</label>
          <textarea id="technologiesUsed" class="materialize-textarea" formControlName="technologiesUsed"></textarea>

        </div>
        <div class="input-field col m6 s6">
          <button type="submit" id="form-submit" [disabled]="!projectForm.valid" class="btn btn-success">Add</button>
        </div>
        <div class="input-field col m6 s6">
          <button type="button"  class="btn waves-effect waves-light red lighten-2" (click)="clearForm()">Clear</button>
        </div>
      </form>
    </div>
  </div>
</div>

<section id="pricing-table" *ngIf="projects">

  <div class="row">
    <div class="section-title wow fadeIn a1 animated" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; -webkit-animation-delay: 0.1s; animation-name: fadeIn; -webkit-animation-name: fadeIn;">
      <h2> <i class="fa fa-send"></i>Manage</h2>
    </div>
    <div class="pricing" >
      <div class="row">


        <div class="plan col m6 s12" style="height: 350px" *ngFor="let project of projects; let i = index">
          <ul class="thumbnail z-depth-1">
            <li> <strong>{{project.title}}</strong> </li>
            <li *ngIf="project.company"> <h6>{{project.company}}</h6> </li>
            <li><div class="span">{{project.months}} months</div></li>
            <!--<li><div class="span" *ngIf="experience.toDate">To - {{experience.toDate}}</div></li>-->

            <li> <button type="button" (click)="editProject(project.uuid)" class="btn waves-effect waves-light cyan lighten-2">Edit</button></li>
            <li> <button type="button" (click)="removeProject(project.uuid)" class="btn waves-effect waves-light red lighten-2">Remove</button></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

</section>
