
<nav *ngIf="showHeader">
  <div class="nav-wrapper">
    <a [routerLink]="['/']" class="brand-logo">TRIOQ</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down" *ngIf="!userToken">
      <li><a [routerLink]="['/login']">Login</a></li>
      <li><a [routerLink]="['/register']">Register</a></li>
    </ul>
    <ul id="nav-mobile" class="right hide-on-med-and-down" *ngIf="userToken">
      <li><a [routerLink]="['/manage']">EDIT</a></li>
      <li><a [routerLink]="['/',logedInUserName]">PROFILE</a></li>
      <li><a (click)="logout()">LOGOUT {{logedInUserName | uppercase}}</a></li>
    </ul>
  </div>
</nav>
<div class="ui-loader-background" *ngIf="loading">
  <div class="progress" id="wyreLoader">
    <div class="indeterminate"></div>
  </div>
</div>
<!--<nav class="navbar navbar-default navbar-fixed-top">-->
<!--<div class="container-fluid">-->
<!--&lt;!&ndash; Brand and toggle get grouped for better mobile display &ndash;&gt;-->
<!--<div class="navbar-header">-->
<!--<button type="button" class="navbar-toggle collapsed" data-toggle="collapse"-->
<!--data-target="#bs-example-navbar-collapse-1" aria-expanded="false">-->
<!--<span class="sr-only">Toggle navigation</span>-->
<!--<span class="icon-bar"></span>-->
<!--<span class="icon-bar"></span>-->
<!--<span class="icon-bar"></span>-->
<!--</button>-->
<!--<a class="navbar-brand" href="#">Assessment</a>-->
<!--</div>-->

<!--&lt;!&ndash; Collect the nav links, forms, and other content for toggling &ndash;&gt;-->
<!--<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">-->
<!--<ul class="nav navbar-nav">-->

<!--</ul>-->

<!--<form class="navbar-form navbar-left">-->
<!--&lt;!&ndash;<div class="form-group">&ndash;&gt;-->
<!--&lt;!&ndash;<input type="text" class="form-control" placeholder="Search">&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;<button type="submit" class="btn btn-default">Submit</button>&ndash;&gt;-->
<!--</form>-->
<!--<ul class="nav navbar-nav navbar-right" *ngIf="!userToken">-->


<!--</ul>-->

<!--</div>&lt;!&ndash; /.navbar-collapse &ndash;&gt;-->
<!--</div>&lt;!&ndash; /.container-fluid &ndash;&gt;-->
<!--</nav>-->

<div class="card-panel grey darken-2 center white-text" collapse-on-click *ngIf="displayerror">
  <h6>{{displayerror}}</h6>
</div>

<router-outlet></router-outlet>




