
<select materialize="material_select" [(ngModel)]="selectedOption" (ngModelChange)="onChange($event)" >
  <option selected="selected" value=""> -- select an option -- </option>
  <option *ngFor="let option of options"  [ngValue]="option">{{option}}</option>
</select>

