
<div class="parallax-container">
  <div class="parallax" materialize="parallax"><img src="https://storage.googleapis.com/dappled-genre-5741/trioq/landing/trioq3.jpg" ></div>
</div>
<div class="section grey lighten-3">
  <div class="col row container text-center" style="margin-top: 60px">
    <h3 style="text-align: center">About</h3>
    <hr class="star-light">
  </div>
  <div class="row" style="margin-top: 30px">
    <div class="col s12 m4 l4">
      <div class="row center-align">
        <i class="medium material-icons">add_circle</i>
      </div>
      <div class="row center-align">
        <p style="font-size: 20px">Add details to your profile</p>
      </div>
    </div>
    <div class="col s12 m4 l4 center-align">
      <div class="row center-align">
      <i class="medium material-icons">attach_file</i>
      </div>
      <div class="row center-align">
        <p style="font-size: 20px">Upload your docx/pdf resume if you want</p>
      </div>
    </div>
    <div class="col s12 m4 l4 center-align">
      <div class="row center-align">
        <i class="medium material-icons">share</i>
      </div>
      <div class="row center-align">
        <p style="font-size: 20px">Share your profile url with your potential employers</p>
      </div>
    </div>
  </div>

</div>

<div class="section white" >
  <div class="col row container text-center" style="margin-top: 60px">
    <h3 style="text-align: center">Contact Us</h3>
    <hr class="star-light">
  </div>
  <div class="contact-form z-depth-1" id="contact">
    <div class="row">
      <form [formGroup]="contactForm" id="contactForm" novalidate (submit)="emailToAdmin()">
        <div class="input-field col s12 m6 offset-m3">
          <label for="name" class="h4">Name *</label>
          <input id="name" type="text" formControlName="name" class="form-control validate"
                 placeholder=""/>
          <span class="center brown-text" *ngIf="contactForm.get('name').touched && contactForm.get('name').errors">
            Name is required
          </span>
        </div>

        <div class="input-field col s12 m6 offset-m3">
          <label for="email" class="h4">Email Address *</label>
          <input id="email" type="text" class="form-control validate" formControlName="email" email
                 placeholder=""/>
          <span class="center brown-text" *ngIf="contactForm.get('email').touched && contactForm.get('email').errors && contactForm.get('email').errors.required">
            Email is required
          </span>
          <span class="center brown-text" *ngIf="contactForm.get('email').touched && contactForm.get('email').errors && !contactForm.get('email').errors.required && contactForm.get('email').errors.email">
            Email is not valid
          </span>
        </div>

        <div class="input-field col s12 m6 offset-m3 ">
          <label for="contactNumber" class="h4">Phone Number</label>
          <input id="contactNumber" type="text" class="form-control validate" formControlName="contactNumber"
                 placeholder=""/>
        </div>

        <div class="input-field col s12 m6 offset-m3">
          <label for="message" class="h4">Message</label>
          <textarea id="message" class="materialize-textarea validate" formControlName="message"  placeholder=""
                    ></textarea>
          <span class="center brown-text" *ngIf="contactForm.get('message').touched && contactForm.get('message').errors">
            Message is required
          </span>
        </div>




        <button type="submit" class="btn btn-default"
                [disabled]="!contactForm.valid">Submit</button>
      </form>
      <!--<p>name     {{contactForm.get('email').errors | json}}  </p>-->
      <!--<p>Form value: {{ contactForm.value | json }}</p>-->
      <!--<p>Form status: {{ contactForm.status | json }}</p>-->

    </div>
  </div>

</div>

<div class="section grey lighten-3" style="padding:50px 0 50px 0">
  <div class="col row">
    <div class="col m4 l4 s12 center-align">
      <h5>LOCATION</h5>
      <h6>New Delhi, India</h6>
    </div>
    <div class="col m4 l4 s12 center-align">
      <h5>AROUND THE WEB</h5>
      <h6>New Delhi, India</h6>
    </div>
    <div class="col m4 l4 s12 center-align">
      <h5>ABOUT TRIOQ</h5>
      <h6>Free to use, create resume and share.</h6>
    </div>
  </div>
</div>
<div class="section grey lighten-1" style="padding:20px 0 20px 0">
  <div class="col row center-align">
    <h6>Copyright © WyreGuide 2017</h6>
  </div>
</div>
