<section id="contact-form">
  <div class="container">
    <div class="row">
      <div class="section-title">
        <h2><i class="fa fa-user"></i>Login</h2>
      </div>
      <div class="contact-form z-depth-1" id="contact">

        <div class="row">
          <div class="col s6 offset-s3">
            <form [formGroup]="loginForm" (submit)="loginUser()">
              <div class="input-field col s12">
                <input id="email" type="text" formControlName="username" class="validate">
                <label for="email">Email</label>
                              <span *ngIf="showError && !loginForm.controls.username.valid">
                                  <h6 class="pink-text text-lighten-1">This field is required</h6>
                                </span>
              </div>
              <div class="input-field col s12">
                <input type="password" class="validate" id="password" formControlName="password">
                <label for="password">Password</label>
             <span *ngIf="showError && !loginForm.controls.password.valid">
               <h6 class="pink-text text-lighten-1">This field is required and should be of 4 digits</h6>
             </span>
              </div>
              <div class="col s12 center-align" *ngIf="responseError">
                <h5>{{responseError}}</h5>
              </div>
              <div class="col s12 center-align">
                <button type="submit" class="waves-effect waves-light btn-large">Login</button>
              </div>
            </form>
          </div>
        </div>

      </div>
    </div>

    <div class="row">
      
    </div>
  </div>
</section>
