<section id="contact-form">
  <div class="container">
    <div class="row">
      <div class="section-title">
        <h2><i class="fa fa-user"></i>Register</h2>
      </div>
      <div class="contact-form z-depth-1" id="contact">
        <div class="row">
          <div class="col s6 offset-s3">
            <form [formGroup]="registrationForm">
              <div class="input-field col s12">
                <input type="text" class="validate" formControlName="username" id="username">
                <label for="username">Email</label>
                              <span *ngIf="showError && !registrationForm.controls.username.valid">
                                <span *ngIf="registrationForm.controls.username.hasError('required')">
                                  <h6 class="pink-text text-lighten-1">Email is required</h6></span>
                                <span *ngIf="registrationForm.controls.username.hasError('invalidFormat')">
                                  <h6 class="pink-text text-lighten-1">Invalid email format</h6></span>
                                </span>
              </div>

              <div class="input-field col s12">
                <input type="password" class="validate" formControlName="password" id="password">
                <label for="password">Password</label>
                              <span *ngIf="showError && !registrationForm.controls.password.valid">
                                  <h6 class="pink-text text-lighten-1">Password is required</h6>
                                </span>
              </div>

              <div class="input-field col s12">
                <input type="password" class="validate" formControlName="retypePassword" id="retypePassword">
                <label for="retypePassword">Retype Password</label>
                              <span *ngIf="showError && !registrationForm.controls.retypePassword.valid">
                                  <h6 class="pink-text text-lighten-1">Please retype your password</h6>
                                </span>
              </div>
              <div class="col s12 center-align" *ngIf="errorResponse">
                <h5>{{errorResponse}}</h5>
              </div>
              <div class="col s12 center-align">
                <button (click)="registerUser()" class="waves-effect waves-light btn-large">Register</button>
              </div>
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>

</section>


<!--<small>header small text goes here...</small></h1>-->

