<div class="contact-form z-depth-1" id="contact" style="height: 400px">
  <div class="card-panel grey darken-2 center white-text" collapse-on-click >
    <h6>Add/Edit</h6>
  </div>
  <div class="row" style="padding:50px 50px 0 50px">
    <appSelect (onSelectEvent)="onSelectEvent($event)" [options]="['TWITTER','FACEBOOK','LINKEDIN','BLOG','GITHUB','YOUTUBE']"></appSelect>
  </div>


  <div class="input-field" style="padding: 0 50px 0 50px">
    <input id="text" type="url" class="form-control" url required
           [(ngModel)]="socialAccountUrl" name="socialUrl" #socialUrl="ngModel" placeholder="Social Account URL"/>

  </div>
  <span class="col s12 center-align">
    <button type="submit" [disabled]="socialUrl?.errors?.url || socialUrl?.errors?.required" id="form-submit" (click)="addSocialProfileUrl()" class="btn btn-success">
      <p *ngIf="socialUrl.errors?.required">Please enter url</p>
      <p *ngIf="socialUrl.errors?.url">Url should be in proper format</p>
      <p *ngIf="!socialUrl.errors?.url && !socialUrl.errors?.required">Submit </p></button>
  </span>

</div>

<div class="contact-form z-depth-1" id="contact" *ngIf="associatedSocialAccounts">
  <div class="card-panel grey darken-2 center white-text" collapse-on-click >
    <h6>Linked Accounts</h6>
  </div>
  <div class="row" style="padding: 50px">
    <div *ngFor="let account of associatedSocialAccounts; let i = index" class="col s6 m3 l2">
      <a class="btn-floating btn-large waves-effect waves-light blue" href="{{account.socialNetworkUrl}}" target="_blank">
        <i class="{{getIcon(account.socialNetwork)}}"></i></a>
    </div>
  </div>
</div>
