
  <div class="contact-form z-depth-1" id="contact">

    <div class="card-panel grey darken-2 center white-text" collapse-on-click *ngIf="validationError">
      <h6>{{validationError}}</h6>
    </div>

    <div class="row" style="padding: 50px">
      <form action="#">
        <div class="file-field input-field center">
          <div class="btn">
            <span>{{name}}</span>
            <input type="file" #fileInput (change)="fileChange($event)" >
            <!--accept="image/jpg,image/jpeg"-->
          </div>
          <div class="file-path-wrapper">
            <input class="file-path validate" type="text">
          </div>
        </div>
      </form>
     <!-- <div *ngIf="filePath">
        <img src="{{filePath}}"/>
      </div>-->
    </div>



  </div>





