<%@ page import="com.wyreguide.admin.enums.MenuPage" %>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">WyreAgent</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <%--<li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>--%>
                <%--<li><a href="#">Link</a></li>--%>
                <%--<li class="dropdown">--%>
                <%--<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>--%>
                <%--<ul class="dropdown-menu">--%>
                <%--<li><a href="#">Action</a></li>--%>
                <%--<li><a href="#">Another action</a></li>--%>
                <%--<li><a href="#">Something else here</a></li>--%>
                <%--<li role="separator" class="divider"></li>--%>
                <%--<li><a href="#">Separated link</a></li>--%>
                <%--<li role="separator" class="divider"></li>--%>
                <%--<li><a href="#">One more separated link</a></li>--%>
            </ul>

            <form class="navbar-form navbar-left">
                <%--<div class="form-group">--%>
                <%--<input type="text" class="form-control" placeholder="Search">--%>
                <%--</div>--%>
                <%--<button type="submit" class="btn btn-default">Submit</button>--%>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <wgAdmin:showMenu menu="${MenuPage.DASHBOARD}">
                    <li class="dropdown-submenu">
                        <a href="#" tabindex="-1" class="dropdown-toggle"
                           data-toggle="dropdown">${MenuPage.DASHBOARD.displayName}</a>
                        <ul class="dropdown-menu">
                        </ul>
                    </li>
                </wgAdmin:showMenu>
                <wgAdmin:showMenu menu="${MenuPage.AGENT}">
                    <li class="dropdown-submenu">
                        <a href="#" tabindex="-1" class="dropdown-toggle"
                           data-toggle="dropdown">${MenuPage.AGENT.displayName}</a>
                        <ul class="dropdown-menu">
                            <wgAdmin:showMenu menu="${MenuPage.AGENTMANAGEMENT.code}">
                                <li>
                                    <g:link controller="report"
                                            action="customers">${MenuPage.AGENTMANAGEMENT.displayName}</g:link>
                                </li>
                            </wgAdmin:showMenu>
                        </ul>
                    </li>
                </wgAdmin:showMenu>
                <wgAdmin:showMenu menu="${MenuPage.VISITOR}">
                    <li class="dropdown-submenu">
                        <a href="#" tabindex="-1" class="dropdown-toggle"
                           data-toggle="dropdown">${MenuPage.VISITOR.displayName}</a>
                        <ul class="dropdown-menu">
                        </ul>
                    </li>
                </wgAdmin:showMenu>
            <%--<li><a href="#">Link</a></li>--%>
            <%--<li class="dropdown">--%>
            <%--<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>--%>
            <%--<ul class="dropdown-menu">--%>
            <%--<li><a href="#">Action</a></li>--%>
            <%--<li><a href="#">Another action</a></li>--%>
            <%--<li><a href="#">Something else here</a></li>--%>
            <%--<li role="separator" class="divider"></li>--%>
            <%--<li><a href="#">Separated link</a></li>--%>
            <%--</ul>--%>
            <%--</li>--%>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>