/* You can add global styles to this file, and also import other style files */

@import "../node_modules/materialize-css/dist/css/materialize.css";

.medium400{
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400
}

.bigBold{
  font-family: Roboto;
  font-size: 16px;
  font-weight: bold;
}

.small300{
  font-family: Roboto;
  font-size: 14px;
  font-weight: 300;
}

hr.star-light{
  border-color: #fff;
}

hr.star-light:after{
  background-color: #000000;
  color: #fff
}
hr.star-light, hr.star-primary{
  padding: 0;
  border: none;
  border-top: solid 5px;
  text-align: center;
  max-width: 250px;
  margin: 25px auto 30px
}

hr.star-light:after, hr.star-primary:after{
  content: "\f005";
  font-family: FontAwesome;
  display: inline-block;
  position: relative;
  top: -.8em;
  font-size: 2em;
  padding: 0 .25em
}
