
<div class="row center-align" style="padding-top: 200px">
  <div *ngIf="emailVerificationSuccessful || emailVerificationFailed;then response else verifying"></div>
  <ng-template #verifying>
    <p>
      <i class="large material-icons" style="color: orange">new_releases</i>
    </p>
    <p class="bigBold">
      Please wait till verification completes
    </p>
  </ng-template>
  <ng-template #response>
  <span *ngIf="emailVerificationSuccessful">
    <p>
      <i class="large material-icons" style="color: darkgreen">check_circle</i>
    </p>
    <p class="bigBold">Email successfully verified</p>
  </span>
    <span *ngIf="emailVerificationFailed">
      <p>
        <i class="large material-icons" style="color: brown">cancel</i>
      </p>
      <p class="bigBold" *ngIf="message;else genericMessage">{{message}}</p>
      <ng-template #genericMessage><span class="bigBold">Email verification failed</span></ng-template>
  </span>
  </ng-template>
</div>


