<div class="row">
  <div class="section-title">
    <h2><i class="fa fa-send"></i>Add</h2>
  </div>
  <div class="contact-form z-depth-1" id="contact">
    <div class="row">
      <form [formGroup]="educationForm" (submit)="saveEducation()" id="contactForm">
        <div id="msgSubmit" class="h3 text-center hidden"></div>

        <div class="input-field col m8 s12">
          <label for="course" class="h4">Course *</label>
          <input id="course" type="text" class="form-control validate" data-error="NEW ERROR MESSAGE"
                 formControlName="courseName" placeholder=""/>
          <span class="center brown-text" *ngIf="educationForm.get('courseName').touched && educationForm.get('courseName').errors">
              Course Name is required
          </span>
        </div>

        <div class="input-field col m3 s12">
          <p>
            <input id="currentlyPursuing" type="checkbox" formControlName="currentlyPursuing"/>
            <label for="currentlyPursuing">Pursuing?</label>
          </p>
          <!--<label for="companyName" class="h4">Present Company?</label>-->
        </div>

        <div class="input-field col m12 s12">
          <label for="university" class="h4">University / Institute *</label>
          <input id="university" type="text" placeholder=""
                 formControlName="university" class="form-control"/>
          <span class="center brown-text" *ngIf="educationForm.get('university').touched && educationForm.get('university').errors">
              University is required
          </span>
        </div>

        <div class="input-field col m6 s12">
          <label for="fromDate" class="h4">From *</label>
          <input id="fromDate" type="text" materialize="pickadate" placeholder=""
                 class="form-control" formControlName="fromDate"
                 [materializeParams]="[{format:'dd/mmm/yyyy'}]"/>
          <span class="center brown-text" *ngIf="educationForm.get('fromDate').touched && educationForm.get('fromDate').errors">
              From Date is required
          </span>
        </div>
        <div class="input-field col m6 s12" *ngIf="!educationForm.value.currentlyPursuing">
          <label for="fromDate" class="h4">To</label>
          <input id="toDate" type="text" placeholder=""
                 class="form-control validate" data-error="NEW ERROR MESSAGE" formControlName="tillDate"
                 materialize="pickadate" [materializeParams]="[{format:'dd/mmm/yyyy'}]"/>
        </div>
        <div class="input-field col m6 s6">
          <button type="submit" [disabled]="!educationForm.valid" id="form-submit" class="btn btn-success">Submit</button>
        </div>
        <div class="input-field col m6 s6">
          <button type="button"  class="btn waves-effect waves-light red lighten-2" (click)="clearForm()">Clear</button>
        </div>
      </form>
    </div>
  </div>
</div>



<section id="pricing-table" *ngIf="qualifications">

  <div class="row">
    <div class="section-title wow fadeIn a1 animated" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; -webkit-animation-delay: 0.1s; animation-name: fadeIn; -webkit-animation-name: fadeIn;">
      <h2> <i class="fa fa-send"></i>Manage</h2>
    </div>
    <div class="pricing" >
      <div class="row">

        <div class="plan col m6 s12" *ngFor="let qualification of qualifications; let i = index">
          <ul class="thumbnail z-depth-1">
            <li> <strong>{{qualification.courseName}}</strong> </li>
            <li> <h6>{{qualification.university}}</h6> </li>
            <li><div class="span">From - {{qualification.fromDate}}</div></li>
            <li><div class="span" *ngIf="qualification.toDate">To - {{qualification.toDate}}</div></li>
            <li><div class="span" *ngIf="!qualification.toDate">Currently Pursuing</div></li>
            <li> <button type="button" (click)="editQualification(qualification.uuid)" class="btn waves-effect waves-light cyan lighten-2">Edit</button></li>
            <li> <button type="button" (click)="removeQualification(qualification.uuid)" class="btn waves-effect waves-light red lighten-2">Remove</button></li>

          </ul>
        </div>
      </div>
    </div>
  </div>

</section>



