<div class="row">
  <div class="section-title">
    <h2><i class="fa fa-send"></i>Skills</h2>
  </div>
  <div class="contact-form z-depth-1" id="contact">
    <div class="row" style="padding: 50px">
      <div class="col s11 ">
        <div class="input-field">
          <input type="text" (keyup)="skillSearch($event)" [(ngModel)]="userSkills" id="skills" class="validate"
                 placeholder=""
                 materialize="autocomplete" [materializeParams]="[{'data': populatedSkills}]">
          <label for="skills"><h6>Add Skill</h6></label>
        </div>
      </div>
      <div class="col s1">
        <a class="btn-floating cyan lighten-2" (click)="saveSkills()"><i class="material-icons">add</i></a>
      </div>
      <span *ngFor="let skill of skills; let i = index">
            <div class="chip">
              {{skill.name}} - {{skill.level}}%
              <i class="close material-icons" (click)="removeSkill(skill.uuid)">close</i>
            </div>
      </span>

    </div>
  </div>
</div>



