  <div class="row">
    <div class="section-title">
      <h2><i class="fa fa-send"></i>Add</h2>
    </div>
      <div class="contact-form z-depth-1" id="contact">
        <div class="row">
          <form [formGroup]="experienceForm" (submit)="saveExperience()" id="contactForm">
            <div id="msgSubmit" class="h3 text-center hidden"></div>

            <div class="input-field col m8 s12">
              <label for="companyName" class="h4">Company *</label>
              <input id="companyName" type="text" class="form-control validate" data-error="NEW ERROR MESSAGE"
                     formControlName="companyName" placeholder=""/>
              <span class="center brown-text" *ngIf="experienceForm.get('companyName').touched && experienceForm.get('companyName').errors">
                Company's name is required
               </span>
            </div>

            <div class="input-field col m3 s12">
              <p>
                <input id="presentCompany" type="checkbox" formControlName="presentCompany"/>
                <label for="presentCompany">Present Company?</label>
              </p>
              <!--<label for="companyName" class="h4">Present Company?</label>-->
            </div>

            <div class="input-field col m6 s12">
              <label for="fromDate" class="h4">From *</label>
              <input id="fromDate" type="text" materialize="pickadate" placeholder=""
                     class="form-control validate" data-error="NEW ERROR MESSAGE" formControlName="fromDate"
                     [materializeParams]="[{format:'dd/mmm/yyyy'}]"/>
              <span class="center brown-text" *ngIf="experienceForm.get('fromDate').touched && experienceForm.get('fromDate').errors">
                From date is required
               </span>
            </div>
            <div class="input-field col m6 s12" *ngIf="!experienceForm.value.presentCompany">
              <label for="fromDate" class="h4">To</label>
              <input id="toDate" type="text" placeholder=""
                     class="form-control validate" data-error="NEW ERROR MESSAGE" formControlName="tillDate"
                     materialize="pickadate" [materializeParams]="[{format:'dd/mmm/yyyy'}]"/>
            </div>

            <div class="input-field col m12 s12">
              <label for="role" class="h4">Role *</label>
              <input id="role" type="text" placeholder=""
                     formControlName="role" class="form-control validate" data-error="NEW ERROR MESSAGE"/>
              <span class="center brown-text" *ngIf="experienceForm.get('role').touched && experienceForm.get('role').errors">
                Role is required
               </span>
            </div>

            <div class="input-field col m12 s12">
              <label for="responsibilities" class="h4">Responsibilities</label>

              <textarea id="responsibilities" class="materialize-textarea validate"  placeholder=""
                        formControlName="responsibilities"></textarea>
            </div>
            <div class="input-field col m6 s6">
              <button type="submit" id="form-submit" [disabled]="!experienceForm.valid" class="btn btn-success">Add</button>
            </div>
            <div class="input-field col m6 s6">
              <button type="button"  class="btn waves-effect waves-light red lighten-2" (click)="clearForm()">Clear</button>
            </div>
          </form>
        </div>
      </div>
  </div>



  <section id="pricing-table" *ngIf="experiences">

      <div class="row">
        <div class="section-title wow fadeIn a1 animated" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; -webkit-animation-delay: 0.1s; animation-name: fadeIn; -webkit-animation-name: fadeIn;">
          <h2> <i class="fa fa-send"></i>Manage</h2>
        </div>
        <div class="pricing" >
          <div class="row">

            <div class="plan col m6 s12" *ngFor="let experience of experiences; let i = index">
              <ul class="thumbnail z-depth-1">
                <li> <strong>{{experience.position}}</strong> </li>
                <li> <h6>{{experience.companyName}}</h6> </li>
                <li><div class="span">From - {{experience.fromDate}}</div></li>
                <li><div class="span" *ngIf="experience.toDate">To - {{experience.toDate}}</div></li>

                <li> <button type="button" (click)="editExperience(experience.uuid)" class="btn waves-effect waves-light cyan lighten-2">Edit</button></li>
                <li> <button type="button" (click)="removeExperience(experience.uuid)" class="btn waves-effect waves-light red lighten-2">Remove</button></li>
              </ul>
            </div>
          </div>
        </div>
      </div>

  </section>



